$black: #000;
$white: #f8f8f8;
$gray: #4e4e4e;
$blue: #7a89f5;

$bg-color: $black;
$text-main: $white;
$text-secondary: $gray;

$primary: $blue;

$border: 1px solid $gray;

$accept: #afff96;
$danger: #ff9696;

$primary-hover: #6373e8;
$primary-active: #4d5edb;

$accept-hover: #96ff77;
$danger-hover: #ff7777;

$white-hover: #ffffff;
$black-hover: #141414;
