@use '@/app/mixins';
@use '@/app/variables' as *;

.section {
  min-height: 95lvh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-inline: 130px;

  @include mixins.media(860px) {
    padding-inline: 30px;
  }
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 60px;

  &::first-letter {
    color: $primary;
  }
}
