@use '@/app/mixins';
@use '@/app/variables' as *;

.section {
  background: $black;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  gap: 20px;

  width: 100%;
  padding-bottom: 100px;

  @include mixins.media(1300px) {
    grid-template-columns: 1fr;
  }
}
