@use '@/app/mixins';
@use '@/app/variables' as *;

.section {
  background: $black;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  gap: 20px;

  width: 100%;
  padding-bottom: 100px;

  @include mixins.media(1300px) {
    grid-template-columns: 1fr;
  }
}

.item {
  opacity: 0;
}

.playAnim {
  animation: appear 0.6s ease forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 7 {
  .item:nth-child(#{$i}) {
    animation-delay: #{$i * 0.08}s;
  }
}
