@use '@/app/variables' as *;

.field {
  width: 460px;
  min-height: 40px;

  font-size: 1.125rem;
  font-weight: 800;

  padding-inline: 20px;

  border: $border;
  border-radius: 5px;

  transition: border-color 0.2s ease;

  &::placeholder {
    color: $gray;
  }

  &:focus-visible {
    border-color: $white;
  }
}
