@use '@/app/mixins';
@use '@/app/variables' as *;

.section {
  background: $black;
}

.stats {
  opacity: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 20px;

  @include mixins.media(860px) {
    grid-template-columns: repeat(3, 1fr);

    .metricFull {
      grid-column: 1 / -1;
    }
  }
}

.metric {
  width: 100%;
}

.playAnim {
  animation: appear 0.6s ease;
  opacity: 1;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(30%);
  }
  to {
    opacity: 1;
  }
}
